# dependencies
node_modules/

# Next.js
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor/Android build artifacts
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
android/capacitor-cordova-android-plugins/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
